<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baizhi.mapper.UserCountMapper">

    <resultMap id="userCountResultMap" type="com.baizhi.eitity.UserCount">
        <result column="province" property="name"/>
        <result column="count" property="value"></result>

    </resultMap>

    <select id="selectChinaMan" resultMap="userCountResultMap">
        select count(*) count,sex,province FROM `user` where sex=0 group by province
    </select>


    <select id="selectChinaWoman" resultMap="userCountResultMap">
        select count(*) count,sex,province FROM `user` where sex=1 group by province
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select COUNT(*) count FROM `user` WHERE DATEDIFF(NOW(),create_date) &lt; #{day}*7
    </select>

</mapper>